html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    line-height: 0.5 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.container {
    max-width: 730px;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

.spaced {
    padding-left: 15px;
}

.top-buffer {
    margin-top: 20px;
}

@media only screen and (max-device-width: 800px) {
    .mobile-table {
        display: table;
    }

    .desktop-table {
        display: none;
    }
}

@media only screen and (min-device-width: 801px) {
    .mobile-table {
        display: none;
    }

    .desktop-table {
        display: table;
    }
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}
