{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ info.name }}</h1>
            <table class="table table-inverse">
                <thead>
                <tr>
                    <th>Laikas</th>
                    <th>Statusas</th>
                </tr>
                </thead>
                <tbody>

                {% for log in info.logs %}
                    <tr>
                        <td {% if not log[1] %} style="color:red" {% endif %}>{{ log[0] }}</td>
                        <td {% if not log[1] %} style="color:red" {% endif %}>{% if log[1] %}
                            Isijunge
                        {% else %}
                            Issiunge
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4><a href="/">Atgal</a></h4>
        </div>
    </div>
{% endblock content %}